
.block-image_pager {
  display: none; /* hide until JS shows me */
}

.image-pager .image {
  text-align: center;
}
.image-pager .prev {
  padding-right: 2em;
  cursor: pointer;
}
.image-pager .next {
  padding-left: 2em;
  cursor: pointer;
}
.image-pager .pager {
  text-align: center;
}
.image-pager .pager .disabled {
  color: gray;
  cursor: default;
}
.image-pager .pager a,
.image-pager .pager a:hover {
  text-decoration: none;
}
